<template>
    <div class="content">
        <div class="titleWrap">
            <div class="title">
                <div class="tilLeft">
                    <img src="../assets/tel.png" alt="">
                    <p class="service">
                        <span>客服电话 : </span>
                        <span>136****4832</span>
                    </p>
                </div>
                <div class="tilRight">
                    <ul>
                        <li class="pro">协力副本</li>
                        <li>流程介绍</li>
                        <li>管理办法</li>
                        <li>入市申请</li>
                        <li>用户:<span class="pro">136****4832</span></li>
                        <li>[个人中心]</li>
                        <li>[退出]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name:'protocol'
}
</script>
<style lang="scss" scoped>
*{margin:0;padding:0}
.content{
    .titleWrap{
        width:100%;
        height:35px;
        background:#fafafa;
        .title{
            font-size:13px;
            width:1200px;
            height:100%;
            margin:0 auto;
            border:1px solid red;
            display:flex;
            justify-content: space-between;
            .tilLeft{
                height:100%;
                display:flex;
                align-items: center;
                img{
                    width:18px;
                    height:18px;
                }
                .service{
                    color:#999;
                    margin-left:7px
                }
            }
            .tilRight{
                height:100%;
                ul{
                    height:100%;
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    .pro{
                        font-weight:bold;
                        color:#ff6700
                    }
                }
            }
        }
    }
}
</style>
