<template>
    <div class="FooterN">
        <div class="Foot_top">
            <div class="Foot_t_l">
                <h5>全国统一客服热线</h5>
                <p>
                    <img src="../assets/phone.png" alt="">
                    400-888-8888
                </p>
                <span>QQ交流群1:2890378</span>
                <span>QQ交流群2:18793072</span>
            </div>
            <div class="Foot_t_r">
                <div class="ttr">
                         <ul>
                            <li class="uli">
                                关于我们
                            </li>
                            <li>关于PBE</li>
                            <li>关于NPC</li>
                            <li>公司介绍</li>
                            <li>团队介绍</li>
                        </ul>
                        <ol>
                            <li class="oli">协议副本</li>
                            <li>流程介绍</li>
                            <li>相关规则</li>
                            <li>管理办法</li>
                        </ol>
                        <div class="weixin">
                            <span>微信订阅号</span>
                            <p>
                                <img src="../assets/二维码.png" alt="">
                            </p>
                            
                        </div>
                </div>
                
            </div>
        </div>
        <div class="Foot_botm">
            <p>京公网按备   11011225   京ICP备   迅风数字资产管理有限公司</p>
        </div>
    </div>
</template>
<script>
export default {
    name:'FooterN'
}
</script>
<style lang="scss" scoped>
.FooterN{
    height: 325px;
    background: #333333;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .Foot_top{
        flex: 1;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .Foot_t_l{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h5{
                color:#fff;
            }
            p{
                display: flex;
                align-items: center;
                margin: 30px 0 44px 0;
                img{
                    height: 32px;
                    width: 42px;
                    margin-right: 17px;
                }
                color: #FF6600;
                font-size: 30px;
            }
            span{
                color: #444444;
                margin-bottom: 10px;
            }
        }
        .Foot_t_r{
            display: flex;
            // flex-direction: column;
            // justify-content: center;
            width: 386px;
            // justify-content: space-between;
            align-items: center;
            // color:#444444;
            .ttr{
                display: flex;
                width: 386px;
                justify-content: space-between;
                // align-items: center;
                color:#444444;
                font-size: 10px;
                ul{
                    
                    li{
                        margin-top: 22px;
                    }
                    .uli{
                        color:#fff;
                        border-bottom: 1px solid #ff6600;
                        margin: 0;
                        font-size: 14px;
                    }
                }
                ol{
                    li{
                        margin-top: 22px;
                    }
                    .oli{
                        color:#fff;
                        // border-bottom: 1px solid #ff6600;
                        margin: 0;
                        font-size: 14px;
                    }
                }
                .weixin{
                    p{
                        height: 122px;
                        width: 122px;
                        background: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #ff6600;
                        border-radius: 10px;
                        margin-top: 20px;
                    }
                    span{
                        color:#fff;
                        font-size: 14px;
                    }
                }  
            }
            
        }
    }
    .Foot_botm{
        height: 56px;
        width: 100%;
        border-top: 1px solid #444444;
        box-sizing: border-box;
        p{
            margin: 0 auto;
            color:#fff;
            line-height: 56px;
        }
    }
}
.FooterN::after{
    position: absolute;
    content: '';
    left:0;
    width: 100%;
    top: 0;
    border-bottom: 2px solid #ff6600;
}
</style>
