<template>
    <div class="navN">
        <div class="top">
            <div class="top_t">
                <p>
                    <img src="../assets/ic_phone_graywps图片.png" alt="">
                    客服电话：400-833-8888
                </p>
                <ul class="top_right">
                    <li class="ulli">协议副本</li>
                    <li>流程介绍</li>
                    <li>管理方法</li>
                    <li>相关规则</li>
                    <li class="li">
                        <span>
                            用户中心：<span class="span">13693858676</span>
                        </span>
                        <u>[个人中心]</u>
                        <i>[退出]</i>
                    </li>
                </ul> 
            </div>
           
        </div>
        <div class="bottom">
            <p>
                <img src="../assets/shouye.jpg" alt="">
            </p>
            <ol class="ol">
                <li class="olli">首页</li>
                <li>资产储存</li>
                <li>新闻资讯</li>
                <li>招募经营商</li>
                <li>注册经营商</li>
                <li>入市申请</li>
                <li >公司介绍</li>
            </ol>
        </div>
    </div>
</template>
<script>
export default {
    name:'navN'
}
</script>
<style lang="scss" scoped>
li{list-style: none}
i{font-style:normal}
a,u,i{text-decoration: none}
.navN{
    width: 100%;
    .top{
        .top_t{
            height: 36px;
            margin: 0 auto;
            width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
                p{
                color: #999999;
                img{
                    height: 13px;
                    width: 14px;
                    margin-right: 8px;
                }
            }
            .top_right{
                color: #999999;
                display: flex;
                height: 100%;
            li{
                    line-height: 36px;
                    height: 100%;
                    padding: 0 20px 0 25px;
                    box-sizing: border-box;
                    position: relative;

                   
                }
                .li{
                    padding: 0 15px;
                    box-sizing: border-box;
                    u{
                        margin: 0 20px;
                    }
                    span{
                        .span{
                            color: #ff6600;
                        }
                    }
                }
                .ulli{
                    color: #ff6600;
                    font-weight: 600;
                }
                li::after{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    bottom: 0;
                    border-left: 1px solid #fff;

                }
            }
        }
        height: 36px;
        font-size: 12px;
        background: linear-gradient(top,#fff,#f7f7f7(70%));
        
    }
    .bottom{
        height: 70px;
        margin: 0 auto;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            height: 70px;
            width: 224px;
            img{
                height: 100%;
                width: 100%;
            }
        }
        ol{
            height: 70px;
            display: flex;
            margin-right: 15px;
            align-items: center;
            li{
                margin-left: 40px;
                padding-bottom: 7px;
                box-sizing: border-box;
            }
            .olli{
                color: #ff6600;
                font-weight: 600;
                border-bottom: 2px solid #ff6600;
            }
        }
    }
}
</style>
