*{
    margin:0;
    padding: 0;
  }
  body{
    background: #f2f4f6;
    height:100%;
    width:100%;
  }
  a:hover {
      text-decoration: none; 
  }
  a{
    text-decoration: none; 
  }
  #app{
    display: flex;
    flex-direction: row;
  
  }
  ul,li {
      list-style: none; 
  }