<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <navN></navN>
    <router-view/>
    <FooterN></FooterN>
  </div>
  
</template>
<script>
import navN  from '@/components/navN'
import FooterN  from '@/components/FooterN'
export default {
    components:{
        navN,
        FooterN
    },
}
</script>

<script>
// import ' /path/to/reset-css/reset.css '
export default {
  
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
   margin: 0;
  padding: 0;
  li{list-style: none}
i{font-style:normal}
a,u,i{text-decoration: none}
}
// #nav {
//   // padding: 30px;
//   a {
//     font-weight: bold;
//     color: #2c3e50;
//     &.router-link-exact-active {
//       color: #42b983;
//     }
//   }
// }
</style>
